<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input [(ngModel)]="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-datetime [(ngModel)]="birthDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">País</ion-label>
        <ion-input [(ngModel)]="country"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ciudad</ion-label>
        <ion-input [(ngModel)]="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Género</ion-label>
        <ion-select [(ngModel)]="gender">
          <ion-select-option value="male">Masculino</ion-select-option>
          <ion-select-option value="female">Femenino</ion-select-option>
          <ion-select-option value="other">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="saveProfile()">Guardar</ion-button>
      <ion-button expand="block" color="medium" (click)="goHome()">Volver al inicio</ion-button>
      <ion-button expand="block" color="danger" (click)="logout()">Cerrar sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
