<ion-content>
  <ng-container *ngIf="hasMoreProfiles">
    <ion-card>
      <img [src]="profiles[currentIndex].photos[0]" />
      <ion-card-header>
        <ion-card-title>
          {{ profiles[currentIndex].name }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-chip *ngFor="let passion of profiles[currentIndex].passions">
          {{ passion.category }}
        </ion-chip>
        <ion-button expand="full" color="danger" (click)="onMatch(profiles[currentIndex])">
          ♥ Me gusta
        </ion-button>
        <ion-button expand="full" fill="outline" (click)="nextSlide()">
          Siguiente
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!hasMoreProfiles || profiles.length === 0">
    <ion-card class="final-card">
      <ion-card-content class="ion-text-center">
        <h2>No hay más perfiles</h2>
        <p>Has visto todos los perfiles disponibles.</p>
        <ion-button expand="full" (click)="resetMatches()">
          Volver a buscar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
