<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-avatar class="profile-avatar" *ngIf="user?.photos?.length">
        <img [src]="user?.photos?.[0]" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido</h2>
  <p *ngIf="email">Tu sesión: {{ email }}</p>

  <ion-button expand="full" routerLink="/profile">Ir a mi perfil</ion-button>
  <ion-button expand="full" color="danger" (click)="logout()">Cerrar sesión</ion-button>
  <ion-button routerLink="/matching">Ir a Matching</ion-button>

</ion-content>
